body {
    background-color: white;
}

img {
    max-width: 20%;
}

nav li {
    list-style: none;
    padding: 15px;
    float: left;
    font-family: "Oswald";
    padding-bottom: 5px;
}

header {
    position: fixed;
    top: 0px;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}